/* ======= */
/* console */
/* ======= */

/* controler container */
body>section {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(-25deg) rotateY(0deg);

    /* topside and bottomside console */
    >ul {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        /* ================ */
        /* 3d sides console */
        /* ================ */
        >li {
            width: var(--base-x);
            height: var(--base-y);
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            border: var(--border-console);

            /* Front */
            &:nth-of-type(1) {
                background-color: var(--color-secondary);
                height: calc(var(--base-y) / 2);
                transform: translateY(calc(var(--base-y) / -4)) translateZ(calc(var(--base-z) / 2));

                /* slanted side */
                &::after {
                    content: "";
                    position: absolute;
                    width: var(--base-x);
                    height: calc(calc(var(--base-y) / 2) / cos(45deg));
                    background-color: var(--color-primary);
                    transform-origin: top;
                    top: 100%;
                    transform: rotateX(-45deg);
                    border: var(--border-console);
                }
            }

            /* Back */
            &:nth-of-type(2) {
                background-color: var(--color-secondary);
                height: calc(var(--base-y) / 2);
                transform: rotateY(180deg) translateY(calc(var(--base-y) / -4)) translateZ(calc(var(--base-z) / 2));

                /* slanted side */
                &::after {
                    content: "";
                    position: absolute;
                    width: var(--base-x);
                    height: calc(calc(var(--base-y) / 2) / cos(45deg));
                    background-color: var(--color-primary);
                    transform-origin: top;
                    top: 100%;
                    transform: rotateX(-45deg);
                    border: var(--border-console);
                }
            }

            /* Left */
            &:nth-of-type(3) {
                background-color: var(--color-secondary);
                width: var(--base-z);
                transform: rotateY(-90deg) translateZ(calc(var(--base-x) / 2));
                clip-path: polygon(0 0, 100% 0, 100% 50%, calc(100% - (var(--base-y) / 2)) 100%, calc(var(--base-y) / 2) 100%, 0 50%);
            }

            /* Right */
            &:nth-of-type(4) {
                background-color: var(--color-secondary);
                width: var(--base-z);
                transform: rotateY(90deg) translateZ(calc(var(--base-x) / 2));
                clip-path: polygon(0 0, 100% 0, 100% 50%, calc(100% - (var(--base-y) / 2)) 100%, calc(var(--base-y) / 2) 100%, 0 50%);
            }

            /* Top */
            &:nth-of-type(5) {
                background-color: var(--color-accent);
                box-shadow: inset 0 0 0 10px var(--color-secondary);
                height: var(--base-z);
                transform: rotateX(90deg) translateZ(calc(var(--base-y) / 2));
            }

            /* Bottom */
            &:nth-of-type(6) {
                background-color: var(--color-primary);
                height: calc(var(--base-z) - var(--base-y));
                transform: rotateX(-90deg) translateZ(calc(var(--base-y) / 2));
            }
        }

        /* ======= */
        /* topside */
        /* ======= */
        
        &:nth-of-type(1) {
            transform-origin: 50% calc(var(--base-y) / -2) calc(var(--base-z) / -2);
            transform:
                rotateZ(180deg) rotateX(0deg);
            transition: 1s;


            /* topside top*/
            li:nth-of-type(6) {
                background-color: var(--color-accent);
                box-shadow: inset 0 0 0 10px var(--color-primary);
                display: grid;
                grid: center;

                h1,
                img {
                    rotate: z 180deg;
                    justify-self: center;
                }
            }

            /* Screen */
            li:nth-of-type(7) {
                background-color: var(--color-dark);
                width: var(--screen-width);
                height: var(--screen-height);
                transform: rotateX(90deg) translateZ(calc(var(--base-y) / 2));
                display: block;

                img {
                    rotate: z 180deg;
                    position: absolute;
                    width: var(--dk-size);
                    right: 0;
                    max-width: 100%;
                    
                }
            }
        }

    }
}
