/* ================== */
/* dk move left right */
/* ================== */

  body:has([value="pos0"]:checked) { --position: 0;}
  body:has([value="pos1"]:checked) { --position: 1;}
  body:has([value="pos2"]:checked) { --position: 2;}
  body:has([value="pos3"]:checked) { --position: 3;}
  body:has([value="pos4"]:checked) { --position: 4;}
  body:has([value="pos5"]:checked) { --position: 5;}
  body:has([value="pos6"]:checked) { --position: 6;}
  body:has([value="pos7"]:checked) { --position: 7;}
  body:has([value="pos8"]:checked) { --position: 8;}

  @container style(--position: 0) {
    section > ul:nth-of-type(1) > li:nth-of-type(7) img {
      position: absolute;
      right: 0;
    }

    section > ul:nth-of-type(2) section:nth-of-type(1) ul:nth-of-type(1) li {
      left: var(--move-x);
    }
  }

  @container style(--position: 1) {
    section > ul:nth-of-type(1) > li:nth-of-type(7) img {
      position: absolute;
      right: calc(18% - var(--dk-size) / 2);
    }
  
    section > ul:nth-of-type(2) section:nth-of-type(1) ul:nth-of-type(1) li {
      left: 0;
    }
  }

  @container style(--position: 2) {
    section > ul:nth-of-type(1) > li:nth-of-type(7) img {
      position: absolute;
      right: calc(30% - var(--dk-size) / 2);
    }
    section > ul:nth-of-type(2) section:nth-of-type(1) ul:nth-of-type(1) li {
      transform: translateX(calc(var(--move-x) * -1));
    }
  }
  
  @container style(--position: 3) {
    section > ul:nth-of-type(1) > li:nth-of-type(7) img {
      position: absolute;
      right: calc(40% - var(--dk-size) / 2);
    }
    section > ul:nth-of-type(2) section:nth-of-type(1) ul:nth-of-type(1) li {
      transform: translateX(calc(var(--move-x) * -2));
    }
  }

  @container style(--position: 4) {
    section > ul:nth-of-type(1) > li:nth-of-type(7) img {
      position: absolute;
      right: calc(50% - var(--dk-size) / 2);
    }
    section > ul:nth-of-type(2) section:nth-of-type(1) ul:nth-of-type(1) li {
      transform: translateX(calc(var(--move-x) * -3));
    }
  }
  
  @container style(--position: 5) {
    section > ul:nth-of-type(1) > li:nth-of-type(7) img {
      position: absolute;
      right: calc(60% - var(--dk-size) / 2);
    }
    section > ul:nth-of-type(2) section:nth-of-type(1) ul:nth-of-type(1) li {
      transform: translateX(calc(var(--move-x) * -4));
    }
  }
  
  @container style(--position: 6) {
    section > ul:nth-of-type(1) > li:nth-of-type(7) img {
      position: absolute;
      right: calc(70% - var(--dk-size) / 2);
    }
    section > ul:nth-of-type(2) section:nth-of-type(1) ul:nth-of-type(1) li {
      transform: translateX(calc(var(--move-x) * -5));
    }
  }
  
  @container style(--position: 7) {
    section > ul:nth-of-type(1) > li:nth-of-type(7) img {
      position: absolute;
      right: calc(83% - var(--dk-size) / 2);
    }
    section > ul:nth-of-type(2) section:nth-of-type(1) ul:nth-of-type(1) li {
      transform: translateX(calc(var(--move-x) * -6));
    }
  }
  
  @container style(--position: 8) {
    section > ul:nth-of-type(1) > li:nth-of-type(7) img {
      position: absolute;
      right: calc(100% - var(--dk-size));
    }
    section > ul:nth-of-type(2) section:nth-of-type(1) ul:nth-of-type(1) li {
      transform: translateX(calc(var(--move-x) * -7));
    }
  }

body>section>ul:nth-of-type(2) section:nth-of-type(1) ul{

    &:nth-of-type(1) {
        position: absolute;
        width: calc(var(--move-x) * 3);
        height: var(--move-x);
        /* left: var(--move-x); */
        /* top: calc(var(--move-x) * 1.5); */
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        overflow: hidden;
        transform: translatez(calc(var(--move-x) / 4));
        

        &::before,
        &::after {
            position: absolute;
            color: var(--color-alert);
            width: var(--move-x);
            height: var(--move-x);
            background: var(--color-dark);
            clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%); /* nonagon shape bron: https://bennettfeely.com/clippy/ */
            pointer-events: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &::before {
            content: "🡸";
        }
        &::after {
            transform: translateX(calc(var(--move-x) * 2));
            content: "🡺";
        }

        >li {
            position: absolute;
            /* left: var(--move-x); */
            /* === gap en left calc weg voor radio button versie === */
            /* left: calc(var(--move-x) * 2); */
            /* gap: var(--move-x); */
            display: flex;

            label {
                width: var(--move-x);
                height: var(--move-x);
                cursor: pointer;
            }
        }
    }
    
    /* cylinder julia miocene bron: https://codepen.io/miocene/pen/poXJOpo*/
    &:nth-of-type(2),
    &:nth-of-type(3) {
        position: absolute;
        top: 50%;
        left: 50%;
        height: calc(var(--move-x) / 4);
        translate: -50% -50%;

        li {
            position: absolute;
            height: 100%;
            width: var(--length);
            background-color: var(--color-alert);
            transform: translateX(-50%) rotateY(calc(var(--angle) * var(--i))) translateZ(var(--radius));
        }
    }

    &:nth-of-type(2) {
        transform: translateX(var(--move-x)) rotateX(-90deg) translatey(calc(var(--move-x) / -8));
    }

    &:nth-of-type(3) {
        transform: translateX(calc(var(--move-x) * -1)) rotateX(-90deg) translatey(calc(var(--move-x) / -8));
    }

    }


/* ====================== */
/* button press animation */
/* ====================== */

  body:has(#lr-1:checked) > section > ul:nth-of-type(2) section:nth-of-type(1) ul:nth-of-type(1) {
    animation: druk-lr-top .3s forwards;
  }
  
  body:has(#lr-1:checked) > section > ul:nth-of-type(2) section:nth-of-type(1) ul:nth-of-type(2) {
    animation: druk-lr-base .3s forwards;
  }


/* ============ */
/* KEYFRAMES    */
/* ============ */

  @keyframes druk-lr-top {
    0% { transform: translateZ(calc(var(--move-x) / 4)); }
    50% { transform: translateZ(-calc(var(--move-x) / 2)); }
    100% { transform: translateZ(calc(var(--move-x) / 4)); }
  }
  
  @keyframes druk-lr-base {
    0% { transform: translateX(var(--move-x)) rotateX(-90deg) translateY(calc(var(--move-x) / -8)); }
    50% { transform: translateX(var(--move-x)) rotateX(-90deg) translateY(calc(var(--move-x) / 16)); }
    100% { transform: translateX(var(--move-x)) rotateX(-90deg) translateY(calc(var(--move-x) / -8)); }
  }
  