/* ================== */
/* dk move left right */
/* ================== */

body{
    &:has(#lr-1:checked) >section>ul:nth-of-type(1)>li:nth-of-type(7) img { right: calc(18% - var(--dk-size) / 2); }
    &:has(#lr-2:checked) >section>ul:nth-of-type(1)>li:nth-of-type(7) img { right: calc(30% - var(--dk-size) / 2); }
    &:has(#lr-3:checked) >section>ul:nth-of-type(1)>li:nth-of-type(7) img { right: calc(40% - var(--dk-size) / 2); }
    &:has(#lr-4:checked) >section>ul:nth-of-type(1)>li:nth-of-type(7) img { right: calc(50% - var(--dk-size) / 2); }
    &:has(#lr-5:checked) >section>ul:nth-of-type(1)>li:nth-of-type(7) img { right: calc(60% - var(--dk-size) / 2); }
    &:has(#lr-6:checked) >section>ul:nth-of-type(1)>li:nth-of-type(7) img { right: calc(70% - var(--dk-size) / 2); }
    &:has(#lr-7:checked) >section>ul:nth-of-type(1)>li:nth-of-type(7) img { right: calc(83% - var(--dk-size) / 2); }
    &:has(#lr-8:checked) >section>ul:nth-of-type(1)>li:nth-of-type(7) img { right: calc(100% - var(--dk-size)); }

    &:has(#lr-1:checked) >section>ul:nth-of-type(2) section:nth-of-type(1) ul:nth-of-type(1) li { transform: translateX(calc(var(--move-x) * -2)); }
    &:has(#lr-2:checked) >section>ul:nth-of-type(2) section:nth-of-type(1) ul:nth-of-type(1) li { transform: translateX(calc(var(--move-x) * -4)); }
    &:has(#lr-3:checked) >section>ul:nth-of-type(2) section:nth-of-type(1) ul:nth-of-type(1) li { transform: translateX(calc(var(--move-x) * -6)); }
    &:has(#lr-4:checked) >section>ul:nth-of-type(2) section:nth-of-type(1) ul:nth-of-type(1) li { transform: translateX(calc(var(--move-x) * -8)); }
    &:has(#lr-5:checked) >section>ul:nth-of-type(2) section:nth-of-type(1) ul:nth-of-type(1) li { transform: translateX(calc(var(--move-x) * -10)); }
    &:has(#lr-6:checked) >section>ul:nth-of-type(2) section:nth-of-type(1) ul:nth-of-type(1) li { transform: translateX(calc(var(--move-x) * -12)); }
    &:has(#lr-7:checked) >section>ul:nth-of-type(2) section:nth-of-type(1) ul:nth-of-type(1) li { transform: translateX(calc(var(--move-x) * -14)); }
    &:has(#lr-8:checked) >section>ul:nth-of-type(2) section:nth-of-type(1) ul:nth-of-type(1) li { transform: translateX(calc(var(--move-x) * -16)); }
}


body>section>ul:nth-of-type(2) section:nth-of-type(1) ul{

    &:nth-of-type(1) {
        position: absolute;
        width: calc(var(--move-x) * 3);
        height: var(--move-x);
        /* left: var(--move-x); */
        /* top: calc(var(--move-x) * 1.5); */
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        overflow: hidden;
        transform: translatez(calc(var(--move-x) / 4));
        

        &::before,
        &::after {
            position: absolute;
            color: var(--color-alert);
            width: var(--move-x);
            height: var(--move-x);
            background: var(--color-dark);
            clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%); /* nonagon shape bron: https://bennettfeely.com/clippy/ */
            pointer-events: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &::before {
            content: "🡸";
        }
        &::after {
            transform: translateX(calc(var(--move-x) * 2));
            content: "🡺";
        }

        >li {
            position: absolute;
            left: calc(var(--move-x) * 2);
            display: flex;
            gap: var(--move-x);

            label {
                width: var(--move-x);
                height: var(--move-x);
                cursor: pointer;
            }
        }
    }
    
    /* cylinder julia miocene bron: https://codepen.io/miocene/pen/poXJOpo*/
    &:nth-of-type(2),
    &:nth-of-type(3) {
        position: absolute;
        top: 50%;
        left: 50%;
        height: calc(var(--move-x) / 4);
        translate: -50% -50%;

        li {
            position: absolute;
            height: 100%;
            width: var(--length);
            background-color: var(--color-alert);
            transform: translateX(-50%) rotateY(calc(var(--angle) * var(--i))) translateZ(var(--radius));
        }
    }

    &:nth-of-type(2) {
        transform: translateX(var(--move-x)) rotateX(-90deg) translatey(calc(var(--move-x) / -8));
    }

    &:nth-of-type(3) {
        transform: translateX(calc(var(--move-x) * -1)) rotateX(-90deg) translatey(calc(var(--move-x) / -8));
    }

    }


/* ====================== */
/* button press animation */
/* ====================== */

body {
    &:has(#lr-1:checked) >section>ul:nth-of-type(2) section:nth-of-type(1) ul:nth-of-type(1) { animation: druk-lr-top .3s forwards; }
    &:has(#lr-1:checked) >section>ul:nth-of-type(2) section:nth-of-type(1) ul:nth-of-type(2) { animation: druk-lr-base .3s forwards; }
    &:has(#lr-1:not(:checked)) >section>ul:nth-of-type(2) section:nth-of-type(1) ul:nth-of-type(1) { animation: druk-lr-top2 .3s forwards; }
    &:has(#lr-1:not(:checked)) >section>ul:nth-of-type(2) section:nth-of-type(1) ul:nth-of-type(3) { animation: druk-lr-base2 .3s forwards; }
    

    /* werkt niet meer met meerderen? */
    /* &:has(#lr-2:checked) >section>ul:nth-of-type(2) section:nth-of-type(1) ul:nth-of-type(1) { animation: druk-lr-top3 1s forwards; }
    &:has(#lr-2:checked) >section>ul:nth-of-type(2) section:nth-of-type(1) ul:nth-of-type(2) { animation: druk-lr-base3 1s forwards; }
    &:has(#lr-2:not(:checked)) >section>ul:nth-of-type(2) section:nth-of-type(1) ul:nth-of-type(1) { animation: druk-lr-top4 1s forwards; }
    &:has(#lr-2:not(:checked)) >section>ul:nth-of-type(2) section:nth-of-type(1) ul:nth-of-type(3) { animation: druk-lr-base4 1s forwards; } */
}

@keyframes druk-lr-top {
    0% {
        transform: translateZ(calc(var(--move-x) / 4));
    }

    50% {
        transform: translateZ( - calc(var(--move-x) / 2));
    }

    100% {
        transform: translateZ(calc(var(--move-x) / 4));
    }
}

@keyframes druk-lr-base {
    0% {
        transform: translateX(var(--move-x)) rotateX(-90deg) translatey(calc(var(--move-x) / -8));
    }

    50% {
        transform: translateX(var(--move-x)) rotateX(-90deg) translatey(calc(var(--move-x) / 16));
    }

    100% {
        transform: translateX(var(--move-x)) rotateX(-90deg) translatey(calc(var(--move-x) / -8));
    }
}

@keyframes druk-lr-top2 {
    0% {
        transform: translateZ(calc(var(--move-x) / 4));
    }

    50% {
        transform: translateZ( - calc(var(--move-x) / 2));
    }

    100% {
        transform: translateZ(calc(var(--move-x) / 4));
    }
}


@keyframes druk-lr-base2 {
    0% {
        transform: translateX(calc(var(--move-x) * -1)) rotateX(-90deg) translatey(calc(var(--move-x) / -8));
    }

    50% {
        transform: translateX(calc(var(--move-x) * -1)) rotateX(-90deg) translatey(calc(var(--move-x) / 16));
    }

    100% {
        transform: translateX(calc(var(--move-x) * -1)) rotateX(-90deg) translatey(calc(var(--move-x) / -8));
    }
}


